h1 {
text-align: center;
}
h2 {
text-align: center;
font-family: arial;
font-weight: bold;
}
body {
background: linear-gradient(to left, #00b09b, #96c93d);
background-size: cover;
text-align: center;
}
button {
width: 200px;
text-align: center;
}
footer {
}
ul {
list-style: none;
}
